.hamburger {
    display: none;
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 20;


    &__active {
        span {
            &:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                transform: translateY(-1px) rotate(-45deg);
            }
        }
    }

    span {
        display: block;
        background: #fff;
        width: 30px;
        height: 3px;
        margin: 6px 0;
        transition: 0.2s all;
    }
}