.header {
    height: 148px;

    &-top {
        background-color: #323232;
        position: relative;
        z-index: 10;

        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 56px;

            .menu {
                width: 315px;
                margin: 0 0 0 -16px;

                &__show {
                    >li {
                        transition: .6s all;

                        &:hover {
                            background-color: #212121;

                            .sub-menu {
                                max-height: 20em;
                            }
                        }
                    }
                }

                &__item {
                    padding: 0 22px;
                    line-height: 56px;
                    position: relative;

                    &:before {
                        position: absolute;
                        content: '';
                        width: 1px;
                        height: 35px;
                        background-color: #464646;
                        top: 8px;
                        right: 0px;
                    }

                    &:last-child {

                        &:before {
                            display: none;
                        }
                    }
                }

            }

            .sub-menu {
                position: absolute;
                width: 295px;
                background: #fff;
                overflow: hidden;
                transition: max-height .6s ease;
                max-height: 0;
                border: 1px solid #d6d6d6;
                border-top: none;
                top: 56px;
                left: 0;
                z-index: 10;

                &__show {
                    li {
                        &:hover {
                            background-color: #d6d6d6;
                        }
                    }
                }

                li {
                    position: relative;
                    height: 100%;
                    transition: .6s all;
                    margin: -1px 0;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 271px;
                        height: 1px;
                        background-color: #d6d6d6;
                        top: 0;
                        left: 12px;

                    }

                }

                &__item {
                    padding-left: 25px;
                    display: block;
                    font-size: 15px;
                    line-height: 50px;
                    font-weight: 300;
                    color: #323232;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 271px;
                        height: 1px;
                        background-color: #d6d6d6;
                        top: 0;
                        left: 12px;
                    }
                }
            }
        }
    }

    &-bottom {
        z-index: 11;
        border-bottom: 1px solid #d6d6d6;
    }

    .wrapper {
        display: grid;
        grid-template: 93px / 208px 345px auto;
        align-items: center;

    }

    .button {
        &__brown {
            justify-self: end;
        }
    }

    &__logo {
        max-width: 165px;

        img {
            width: 165px;
            height: 64px;
        }
    }

    &__contacts {
        display: flex;
        justify-content: space-between;

        &-item {

            display: flex;
            align-items: center;

            a {
                font-size: 15px;
                line-height: 37px;
                font-weight: 300;
                color: #323232;
                text-transform: uppercase;
            }
        }

        &-img {
            margin-right: 14px;
            width: 37px;
            height: 37px;
            border: 1px solid #323232;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            cursor: pointer;

            img {
                max-width: 100%;

            }
        }
    }

}

.menu {
    position: relative;
    display: flex;

    >li {
        position: relative;

    }

    &__item {
        display: block;
        font-weight: 300;
        color: #ffffff;
        line-height: 35px;

    }
}