.modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba($color: #000, $alpha: 0.4);

    &__active {
        display: block;

    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        width: 421px;
        min-height: 372px;
        background-color: #ffffff;
        border: 2px solid #c99c47;
        text-align: center;

    }

    &__close {
        position: absolute;
        top: -36px;
        right: -27px;
        color: #fff;
        font-size: 43px;
        cursor: pointer;
    }

    &__title {
        font-size: 17px;
        font-weight: 500;
        color: #323232;
        text-transform: uppercase;
    }

    &__descr {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
    }
}

//.fade {
//    animation-name: fade;
//    animation-duration: 1.5s;
//}

//@keyframes fade {
//    from {
//        opacity: 0.1;
//    }

//    to {
//        opacity: 1;
//    }
//}

//.show {
//    display: block;
//}

//.hide {
//    display: none;
//}