.promo-vlog {
    padding: 60px;

    video {
        width: 680px;
        height: 432px;
    }

    &__item {
        //position: relative;
        width: 680px;
        height: 432px;
        margin: 25px auto 0;

        //&:before {
        //    content: '';
        //    position: absolute;
        //    width: 91px;
        //    height: 91px;
        //    opacity: 0.54;
        //    background-color: #000000;
        //    border-radius: 50%;
        //    top: 50%;
        //    left: 50%;
        //    transform: translate(-50%, -50%);
        //}

        //&:after {
        //    content: '';
        //    position: absolute;
        //    top: 50%;
        //    left: 52%;
        //    transform: translate(-50%, -50%);
        //    border: 20px solid transparent;
        //    border-left: 20px solid #fff;
        //    border-radius: 3px;
        //}
    }
}